# Build outputs
bin/
obj/
**/publish/

# User/machine-specific
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates
.vs/

# Debugging/diagnostics
*.pdb
*.opendb
*.log
*.tmp

# Local app settings
settings.json
